<div xmlns:th="http://www.thymeleaf.org">
    <nav class="ui  attached segment my-padded-tb-mini" th:fragment="menu(active, headUrl, name)">
        <div class="ui container">
            <div class="ui  secondary stackable menu">
                <h2 class="ui green header item">Course</h2>
                <a th:href="@{/}" class="item" th:classappend="${active == 'index'} ? 'active'"><i class="home icon"></i>首页</a>
                <a th:href="@{/stu/course}" class="item" th:classappend="${active == 'course'} ? 'active'"><i class="book icon"></i>课程</a>
                <a th:href="@{/stu/homework}" class="item" th:classappend="${active == 'homework'} ? 'active'"><i class="sticky note outline icon"></i>作业</a>
                <a th:href="@{/stu/examIndex}" class="item" th:classappend="${active == 'exam'} ? 'active'"><i class="pen square icon"></i>考试</a>
                <a th:href="@{/stu/invitation}" class="item" th:classappend="${active == 'comment'} ? 'active'"><i class="comment alternate outline icon"></i>讨论区</a>
                <a th:href="@{/stu/resources}" class="item" th:classappend="${active == 'resources'} ? 'active'"><i class="box icon"></i>资源</a>

                <div class="right menu">
                    <div class="ui dropdown item">
                        <div>
                            <img class="ui avatar image" th:src="${headUrl}" />
                            [[${name}]]
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a th:href="@{/logout}" class="item">注销</a>
                            <a th:href="@{/stu/profile}" class="item" th:unless="${active} == 'profile'">修改资料</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>