.my-patted-1 {
    /*1em==14px*/
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}

.my-patted-2 {
    /*1em==14px*/
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.my-patted-btlr {
    /*1em==14px*/
    padding: 0.1em 0 0.1em !important;
}

.my-patted-3 {
    /*1em==14px*/
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.my-patted-4 {
    /*1em==14px*/
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.my-patted-5 {
    /*1em==14px*/
    padding-top: 1.3em !important;
    padding-bottom: 1.3em !important;
}

.my-padding-top-2 {
    /*1em==14px*/
    padding-top: 2em !important;
}

.my-padding-left-2 {
    /*1em==14px*/
    padding-left: 2em !important;
}

.transparent-8 {
    opacity: 0.8 !important;
}

.transparent-5 {
    opacity: 0.5 !important;
}

.margin-bottom-0 {
    margin-bottom: 0em !important;
}

.margin-bottom-1 {
    margin-bottom: 1em !important;
}

.margin-top-3 {
    margin-top: 3em !important;
}

.margin-top-1 {
    margin-top: 1em !important;
}

.margin-top-05 {
    margin-top: 0.5em !important;
}

.margin-top-2 {
    margin-top: 2em !important;
}

.my-padded-tb-mini {
    /*1em==14px*/
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}

.margin-right-1 {
    margin-right: 1em !important;
}

.margin-right-05 {
    margin-right: 0.5em !important;
}

.my-mobile-hide {
    display: block !important;
}

@media screen and (max-width: 768px) {
    .my-mobile-hide {
        display: none !important;
    }

    .my-mobile-right {
        position: fixed !important;
        z-index: 9999 !important;
        right: 0px !important;
        bottom: 0%;
    }
}

.my-files {
    display: inline-block !important;
    border-radius: 4px !important;
    padding: 10px 10px !important;
    border: 0 !important;
    background-color: rgb(237, 229, 229) !important;
    color: rgb(7, 7, 7) !important;
    position: relative !important;
    z-index: 2 !important;
}

.my-files:hover {
    opacity: 0.8 !important;
    cursor: pointer !important;
}

.my-font-weight {
    font-weight: bold !important;
}

.my-font-tips {
    font-style: italic;
    font-size: 5px !important;
}

.my-padding-lr-2 {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.my-padding-lr-3 {
    padding-left: 3em !important;
    padding-right: 3em !important;
}

.my-margin-lr-2 {
    margin-left: 2em !important;
    margin-right: 2em !important;
}

.my-margin-top-08 {
    margin-top: 0.8em !important;
}

.my-margin-left-1 {
    margin-left: 1em !important;
}

.my-margin-top-0 {
    margin-top: 0em !important;
}

.hide {
    display: none !important;
}

.font-10 {
    font-size: 10px !important;
    margin: auto 0 auto auto;
}

#div1 {
    font-size: large;
}

.hand {
    cursor: pointer;
}