<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="#">
    <resultMap id="courseWithTeacher" type="course">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="tea_id" property="teaId"/>
        <result column="number" property="number"/>
        <result column="time" property="time"/>
        <result column="description" property="description"/>
        <association property="teacher" javaType="teacher" column="tea_id" select="org.gdpi.course.mapper.TeacherMapper.findById"/>
    </resultMap>
    <resultMap id="courseWithStuCount" type="course">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="tea_id" property="teaId"/>
        <result column="number" property="number"/>
        <result column="time" property="time"/>
        <result column="description" property="description"/>
        <association property="stuNum" javaType="integer" column="id"  select="org.gdpi.course.mapper.CourseMapper.findStudentCount"/>
    </resultMap>
    <resultMap id="gradeWithStudent" type="gradeTable">
        <id column="id" property="id"/>
        <result column="stu_id" property="stuId"/>
        <result column="course_id" property="courseId"/>
        <result column="grade" property="grade"/>
        <result column="regular_grade" property="regularGrade"/>
        <result column="time" property="time"/>
        <association property="student" javaType="student" column="stu_id"  select="org.gdpi.course.mapper.StudentMapper.findById"/>
    </resultMap>
    <resultMap id="modelAndSubmitNum" type="examModel">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="grade" property="grade"/>
        <result column="time" property="time"/>
        <result column="is_hide" property="isHide"/>
        <association property="submitNum" javaType="integer" column="id"  select="org.gdpi.course.mapper.ExamMapper.findSubmitNum"/>
    </resultMap>
    <resultMap id="paperAndStu" type="examPaper">
        <id column="id" property="id"/>
        <result column="stu_id" property="stuId"/>
        <result column="model_id" property="modelId"/>
        <result column="grade" property="grade"/>
        <result column="update_time" property="updateTime"/>
        <association property="student" javaType="student" column="stu_id"  select="org.gdpi.course.mapper.StudentMapper.findById"/>
    </resultMap>
</mapper>