<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.mapper.CourseMapper">

    <delete id="deleteByIdAndTeaId" parameterType="integer">
        DELETE FROM course  WHERE id = #{id} AND tea_id = #{teaId}
    </delete>

    <insert id="addCourse" parameterType="course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course(tea_id, `name`, `number`, cover, description)
        VALUES(#{teaId}, #{name}, #{number}, #{cover}, #{description})
    </insert>

    <select id="findByTeaId" parameterType="integer" resultMap="#.courseWithStuCount">
        SELECT * FROM course WHERE tea_id = #{teaId}
    </select>

    <select id="findByNumber" resultType="course">
        SELECT * FROM course WHERE number = #{number}
    </select>

    <select id="findByIdAndTeaId" resultType="course">
        SELECT * FROM course WHERE ID = #{id} AND tea_id = #{teaId}
    </select>

    <select id="findStudentCount" parameterType="Integer" resultType="Integer">
        SELECT count(*) stu_num FROM stu_course_map WHERE course_id = #{cid};
    </select>

    <update id="updateCourse" parameterType="course">
        UPDATE course SET `name` = #{name}, `number` = #{number}, cover = #{cover},description = #{description}
        WHERE id = #{id} AND tea_id = #{teaId}
    </update>

    <select id="findById" resultType="course">
        SELECT * FROM course WHERE id = #{id}
    </select>

    <select id="findStudentId" parameterType="integer" resultType="Integer">
        SELECT stu_id FROM stu_course_map WHERE course_id = #{cid}
    </select>

    <select id="findCourseBySid" parameterType="int" resultType="course">
        SELECT * FROM course WHERE id IN(SELECT course_id FROM stu_course_map);
    </select>

    <select id="findHomework" parameterType="int" resultMap="#.courseAndHomework">
        SELECT * FROM course WHERE id IN(SELECT course_id FROM stu_course_map WHERE stu_id = #{sid})
    </select>

    <select id="findByNumberAndSid" resultType="course">
        SELECT * FROM course WHERE `number` = #{number}
        AND id IN(SELECT course_id FROM stu_course_map WHERE stu_id = #{sid})
    </select>
</mapper>