<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.mapper.CourseMapper">

    <delete id="deleteByIdAndTeaId" parameterType="integer">
        DELETE FROM course  WHERE id = #{id} AND tea_id = #{teaId}
    </delete>

    <insert id="addCourse" parameterType="course" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO course(tea_id, `name`, `number`, cover, description)
        VALUES(#{teaId}, #{name}, #{number}, #{cover}, #{description})
    </insert>

    <select id="findByTeaId" parameterType="integer" resultType="course">
        SELECT c.*, COUNT(s.id) stu_num
        FROM course c LEFT JOIN stu_course_map s
        ON c.tea_id = #{teaId} and c.id = s.course_id GROUP BY c.id
    </select>

    <select id="findByNumber" resultType="course">
        SELECT * FROM course WHERE number = #{number}
    </select>

    <select id="findByIdAndTeaId" resultType="course">
        SELECT * FROM course WHERE ID = #{id} AND tea_id = #{teaId}
    </select>

    <update id="updateCourse" parameterType="course">
        UPDATE course SET `name` = #{name}, `number` = #{number}, cover = #{cover},description = #{description}
        WHERE id = #{id} AND tea_id = #{teaId}
    </update>
</mapper>