<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.mapper.ExamPaperMapper">
    <select id="findByModelId" parameterType="Integer" resultMap="#.paperAndStu">
        SELECT * FROM exam_paper WHERE model_id = #{modelId}
    </select>

    <select id="findSubmitBySid" parameterType="Integer" resultType="examPaper">
        SELECT * FROM exam_paper WHERE stu_id = #{sid} AND status = true
    </select>

    <select id="findAllBySid" resultMap="#.paperAndModle">
        SELECT * FROM exam_paper WHERE stu_id = #{sid} AND model_id IN(SELECT id FROM exam_model WHERE course_id =#{cid})
    </select>
</mapper>