<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.mapper.GapFillingQuestionMapper">
    <select id="findById" parameterType="Integer" resultType="gapFillingQuestion">
        SELECT * FROM gap_filling_question WHERE id = #{id}
    </select>

    <select id="findByCourseId" parameterType="Integer" resultType="gapFillingQuestion">
        SELECT * FROM gap_filling_question WHERE course_id = #{courseId}
    </select>

    <select id="findByIdAndCourseId" resultType="gapFillingQuestion">
        SELECT * FROM gap_filling_question WHERE course_id = #{cid} AND id = {id}
    </select>

    <insert id="addGapFillingQuestion" parameterType="gapFillingQuestion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gap_filling_question(course_id, title, answer, grade)
        VALUES(#{courseId}, #{title}, #{answer}, #{grade})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM gap_filling_question WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="gapFillingQuestion">
        UPDATE gap_filling_question SET title = #{title}, answer = #{answer} WHERE id = #{id}
    </update>

    <select id="findGradeLessThan" resultType="gapFillingQuestion">
        SELECT * FROM gap_filling_question WHERE grade &lt;= #{grade} AND course_id = #{cid}
    </select>

    <select id="findReferenceNum" parameterType="Integer" resultType="integer">
        SELECT count(*) FROM paper_gap_map  WHERE essay_id = #{gap_id}
    </select>

    <select id="findByPid" parameterType="Integer" resultType="gapFillingQuestion">
        SELECT s.*, s2.user_answer FROM gap_filling_question s, paper_gap_map s2
        WHERE s.id IN(SELECT gap_id FROM paper_gap_map WHERE paper_id = #{pid})
        AND (s.id = s2.gap_id AND #{pid} = s2.paper_id)
    </select>

</mapper>