<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.mapper.SingleQuestionMapper">

    <insert id="addSingleQue" parameterType="singleQuestion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO single_question(course_id, title, choose1, choose2, choose3, choose4, grade)
        VALUES(#{courseId}, #{title}, #{choose1}, #{choose2}, #{choose3}, #{choose4}, #{grade})
    </insert>

    <select id="findByIdAndCourseId" resultType="singleQuestion">
        SELECT * FROM single_question WHERE id = #{id} AND course_id = #{cid}
    </select>

    <select id="findByCourseId" resultType="singleQuestion">
        SELECT * FROM single_question WHERE course_id = #{cid}
    </select>

    <select id="findById" resultType="singleQuestion">
        SELECT * FROM single_question WHERE id = #{id}
    </select>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM single_question WHERE id = #{id}
    </delete>

    <update id="updateSingleQuestion" parameterType="singleQuestion">
        UPDATE single_question SET title = #{title}, choose1 = #{choose1}, choose2 = #{choose2}, choose3 = #{choose3}, choose4 = #{choose4}
        WHERE id = #{id}
    </update>

    <select id="findGradeLessThan" resultType="singleQuestion">
        SELECT * FROM single_question WHERE grade &lt;= #{grade} AND course_id = #{cid}
    </select>

    <select id="findReferenceNum" parameterType="Integer" resultType="integer">
        SELECT count(*) FROM paper_single_map WHERE single_id = #{id}
    </select>

    <select id="findByPid" parameterType="Integer" resultType="singleQuestion">
        SELECT s.*, s2.user_answer FROM single_question s, paper_single_map s2
        WHERE s.id IN(SELECT single_id FROM paper_single_map WHERE paper_id = #{pid})
        AND (s.id = s2.single_id AND #{pid} = s2.paper_id)
    </select>


</mapper>