<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.mapper.TeacherMapper">

    <resultMap id="courseAndTea" type="course">

    </resultMap>

    <insert id="addTeacher" parameterType="teacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teacher(username, nickname, password, photo)
        VALUES(#{username}, #{nickname}, #{password}, #{photo})
    </insert>

    <select id="findByUsername" parameterType="string" resultType="teacher">
        SELECT * FROM teacher WHERE username = #{username}
    </select>
    <select id="findById" parameterType="integer" resultType="teacher">
        SELECT * FROM teacher WHERE id = #{id}
    </select>

    <update id="updateById" parameterType="teacher">
        UPDATE teacher SET username = #{username}, nickname = #{nickname}, password = #{password},
        photo = #{photo}, email = #{email}, phone = #{phone} WHERE id = #{id}
    </update>
</mapper>