<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdpi.course.mapper.TrueOrFalseQuestionMapper">
    <select id="findById" parameterType="Integer" resultType="trueOrFalseQuestion">
        SELECT * FROM true_or_false_question WHERE id = #{id}
    </select>

    <select id="findByCourseId" parameterType="Integer" resultType="trueOrFalseQuestion">
        SELECT * FROM true_or_false_question WHERE course_id = #{courseId}
    </select>

    <select id="findByIdAndCourseId" resultType="trueOrFalseQuestion">
        SELECT * FROM true_or_false_question WHERE course_id = #{cid} AND id = {id}
    </select>

    <insert id="addTrueOrFalseQuestion" parameterType="trueOrFalseQuestion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO true_or_false_question(course_id, title, answer, grade)
        VALUES(#{courseId}, #{title}, #{answer}, #{grade})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM true_or_false_question WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="trueOrFalseQuestion">
        UPDATE true_or_false_question SET title = #{title}, answer = #{answer} WHERE id = #{id}
    </update>

    <select id="findGradeLessThan" resultType="trueOrFalseQuestion">
        SELECT * FROM true_or_false_question WHERE grade &lt;= #{grade} AND course_id = #{cid}
    </select>

    <select id="findReferenceNum" parameterType="Integer" resultType="integer">
        SELECT count(*) FROM paper_torf_map WHERE torf_id = #{id}
    </select>

    <select id="findByPid" parameterType="Integer" resultType="trueOrFalseQuestion">
        SELECT s.*, s2.user_answer FROM true_or_false_question s, paper_torf_map s2
        WHERE s.id IN(SELECT torf_id FROM paper_torf_map WHERE paper_id = #{pid})
        AND (s.id = s2.torf_id AND #{pid} = s2.paper_id)
    </select>

</mapper>